<h1>Teacher Dashboard</h1>

<%= link_to 'Manage Teachers', teachers_path %> <br>
<%= link_to 'Manage Students', students_path %> <br>
<%= link_to 'Manage Parents', parents_path %> <br><br>
<%= link_to 'Logout', authenticate_logout_path %>
