<h1>Parent Dashboard</h1>

<%= link_to 'Manage Teachers', teachers_path %> <br>
<%= link_to 'Manage Students', students_path %> <br>
<%= link_to 'Manage Grades', grades_path %> <br><br>
<%= link_to 'Logout', authenticate_logout_path %>
